<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	
	<session-factory>
		
		<!-- Database Connection Settings -->
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://10.211.55.4:3306/testws</property>
		<property name="hibernate.connection.username">roman</property>
		<property name="hibernate.connection.password">o5WKxJkRXw</property>
		
		<!-- SQL Dialect -->
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		
		<!-- Write all executed SQL statements to stdout -->
		<property name="show_sql">true</property>
		
		<!-- Names of the entity classes -->
		<mapping class="model.Person"/>
		<mapping class="model.Employee"/>
		
	</session-factory>
	
</hibernate-configuration>